@import "../../base.scss";

.section-competition-full-1 {
  min-height: 100vh;
  padding: 15% 10% 0;
  background-color: $backgroundBase1;
  overflow: hidden;
  position: relative;
  text-align: center;
  @include respon(phone-pot) {
    padding: 60% 10% 0;
  }
  @include respon(phone-land) {
    padding: 30% 10% 0;
  }
  @include respon(tb-pot) {
    padding: 20% 10% 0;
  }
  .title {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin-bottom: 3rem;
  }

  .description {
    position: relative;
    z-index: 2;
    text-align: center;
  }

  .tagline {
    position: relative;
    z-index: 2;
    margin-bottom: 2rem;
  }
  .square-box-1 {
    background-image: $circleLinear1;
    width: 402px;
    height: 402px;
    top: 15%;
    right: -220px;
    position: absolute;
    transform: rotate(45deg);
    border-radius: 45px;
    opacity: 0.302;
    @include respon(phone-pot) {
      opacity: 0.15;
      width: 382px;
      height: 382px;
      top: -25px;
      right: -140px;
    }
  }
  .square-box-2 {
    background-image: $circleLinear2;
    width: 402px;
    height: 402px;
    top: 15%;
    left: -220px;
    position: absolute;
    transform: rotate(45deg);
    border-radius: 45px;
    opacity: 0.302;
    @include respon(phone-pot) {
      opacity: 0.15;
      width: 382px;
      height: 382px;
      top: -25px;
      right: -140px;
    }
  }
}

.section-competition-full-2 {
  min-height: 100vh;
  padding: 5% 5% 0;
  overflow: hidden;
  position: relative;
  background-color: $backgroundBase2;
  @include respon(phone-pot) {
    padding: 30% 5% 0;
  }
  @include respon(phone-land) {
    padding: 20% 5% 0;
  }
  @include respon(tb-pot) {
    padding: 15% 5% 0;
  }
  .title {
    display: inline-block;
    margin-bottom: 2rem;
  }

  .description {
    width: 70%;
    margin-bottom: 2rem;
  }

  .competition-category-container-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    @include respon(phone-pot) {
      padding-bottom: 0;
    }
    @include respon(phone-land) {
      padding-bottom: 0;
    }
    @include respon(tb-pot) {
      padding-bottom: 0;
    }
  }

  .competition-category-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 3rem;
  }

  .square-box-1 {
    background-image: $circleBigLinear;
    opacity: 0.059;
    left: -80px;
    top: -60px;
    width: 500px;
    height: 500px;
    border-radius: 45px;
    position: absolute;
    transform: rotate(45deg);
  }
  .square-box-2 {
    background-image: $circleBigLinear;
    opacity: 0.059;
    left: 150px;
    top: -25px;
    width: 550px;
    height: 550px;
    border-radius: 45px;
    position: absolute;
    transform: rotate(45deg);
  }
}
