@import "../../base.scss";

.section-webinar-full-1 {
  min-height: 100vh;
  padding: 15% 10% 0;
  background-image: $backgroundLinear;
  overflow: hidden;
  position: relative;
  text-align: center;
  @include respon(phone-pot) {
    padding: 60% 10% 0;
  }
  @include respon(phone-land) {
    padding: 30% 10% 0;
  }
  @include respon(tb-pot) {
    padding: 20% 10% 0;
  }
  .title {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin-bottom: 3rem;
  }

  .description {
    position: relative;
    z-index: 2;
    text-align: center;
  }

  .tagline {
    position: relative;
    z-index: 2;
    margin-bottom: 2rem;
  }

  .signup-button {
    margin-bottom: 4rem;
  }

  .photo-webinar-container {
    display: flex;
    flex-direction: column;
    // max-height: 650px;
    .photo-webinar-1 {
      width: 100%;
      object-fit: contain;
      margin-bottom: 1rem;
    }

    .column-webinar-container {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .photo-webinar-2 {
        width: 49%;
        // max-height: 240px;
        object-fit: contain;
      }
    }
  }

  .card-webinar-container {
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
    @include respon(phone-pot) {
      flex-direction: column;
    }
    @include respon(phone-land) {
      flex-direction: column;
    }
    @include respon(tb-pot) {
      flex-direction: column;
    }
    .card-webinar-speaker {
      width: 48%;
      background-image: linear-gradient(40deg, #16545c 0%, #025c90 100%);
      padding: 5% 2%;

      border-radius: 20px;

      @include respon(phone-pot) {
        width: 100%;
        margin-bottom: 1.5rem;
      }
      @include respon(phone-land) {
        width: 100%;
        margin-bottom: 1.5rem;
      }
      @include respon(tb-pot) {
        width: 100%;
        margin-bottom: 1.5rem;
      }

      .theme {
        margin-top: 1rem;
      }

      .photo-detail-speaker {
        display: flex;
        justify-content: space-between;
        @include respon(phone-pot) {
          flex-direction: column;
        }
        @include respon(phone-land) {
          flex-direction: column;
        }

        .photo-container {
          width: 50%;
          @include respon(phone-pot) {
            width: 100%;
            margin-bottom: 1rem;
          }
          @include respon(phone-land) {
            width: 100%;
            margin-bottom: 1rem;
          }

          .speaker-photo {
            object-fit: contain;
            width: 100%;
            min-height: 400px;
          }

          .name-speaker {
            margin-top: 0.5rem;
          }
        }

        .details {
          display: flex;
          flex-direction: column;
          padding-left: 2rem;
          align-items: flex-start;
          justify-content: center;
          width: 50%;
          @include respon(phone-pot) {
            width: 100%;
            padding-left: 0;
            align-items: center;
            justify-content: flex-start;
          }
          @include respon(phone-land) {
            width: 100%;
            padding-left: 0;
            align-items: center;
            justify-content: flex-start;
          }
          .detail-webinar {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0.75rem;

            p {
              color: white;
            }

            .icon-style {
              color: white;
              font-size: 32px;
              margin-right: 1rem;
            }
          }
        }
      }
    }

    .card-webinar-speaker-2 {
      width: 48%;
      background-image: linear-gradient(40deg, #16545c 0%, #025c90 100%);
      padding: 5% 2%;
      border-radius: 20px;
      @include respon(phone-pot) {
        width: 100%;
        margin-bottom: 1.5rem;
      }
      @include respon(phone-land) {
        width: 100%;
        margin-bottom: 1.5rem;
      }
      @include respon(tb-pot) {
        width: 100%;
        margin-bottom: 1.5rem;
      }

      .theme {
        margin-top: 1rem;
      }

      .photo-detail-speaker {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .photo-container {
          width: 50%;
          margin-bottom: 2rem;
          @include respon(phone-pot) {
            width: 100%;
          }
          @include respon(phone-land) {
            width: 100%;
          }

          .speaker-photo {
            object-fit: contain;
            width: 100%;
            height: 300px;
          }

          .name-speaker {
            margin-top: 0.5rem;
          }
        }

        .details {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          width: 100%;
          @include respon(phone-pot) {
            flex-direction: column;
          }
          @include respon(phone-land) {
            flex-direction: column;
          }
          .detail-webinar {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0.75rem;

            p {
              color: white;
            }

            .icon-style {
              color: white;
              font-size: 32px;
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }

  .webinar-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    @include respon(phone-pot) {
      flex-direction: column;
    }
    @include respon(phone-land) {
      flex-direction: column;
    }

    .webinar-description-card {
      padding: 3rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background-color: $primaryColor;
      border-radius: 10px;
      height: 100%;
      min-height: 170px;
      max-height: 170px;
      margin-bottom: 3rem;
      @include respon(phone-pot) {
        margin-bottom: 2rem;
        width: 100%;
      }
      @include respon(phone-land) {
        margin-bottom: 2rem;
        width: 100%;
      }
    }
  }

  .speaker-container {
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 4rem;

    .description-speaker {
      text-align: left;
      margin-bottom: 2rem;
    }

    .image-speaker-container {
      display: flex;
      justify-content: space-between;
      @include respon(phone-pot) {
        flex-direction: column;
      }
      @include respon(phone-land) {
        flex-direction: column;
      }

      .speaker-image {
        object-fit: contain;
        max-width: 30%;
        @include respon(phone-pot) {
          min-width: 100%;
          margin-bottom: 1.25rem;
        }
        @include respon(phone-land) {
          min-width: 100%;
          margin-bottom: 1.25rem;
        }
      }
    }
  }
}
