@import "../../base.scss";

.paragraph {
  color: #f8f8f8;
  font-weight: $thin;
  font-size: $paragraph;
  word-spacing: 2px;
  letter-spacing: 0.1px;
  line-height: 1.5em;
}

.paragraph-header {
  font-size: $paragraph-header;
  font-weight: $regular;
}

.paragraph-large {
  font-size: $paragraph-large;
  word-spacing: 5px;
  line-height: 32px;
}

.paragraph.justify {
  text-align: justify !important;
}
