@import "../../base.scss";

.dashboard-section-academy {
  width: 100%;
  min-height: 350px;
  background-color: $backgroundBase1;
  border: 4px solid $terneryColor;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  .academy {
    text-align: center;

    .header {
      margin-bottom: 1rem;
    }

    .description {
      margin-bottom: 1.75rem;
    }
  }
}

.dashboard-section-webinar {
  width: 100%;
  min-height: 350px;
  background-color: $backgroundBase1;
  border: 4px solid $terneryColor;
  padding: 5% 10%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .header {
    margin-bottom: 1rem;
  }

  .webinar-regist {
    text-align: center;

    .description {
      margin: 0 auto 2rem;
    }
  }

  .ticket {
    position: relative;
    margin: 2rem 0;
    background-image: $backgroundLinear2;
    width: 100%;
    min-height: 350px;
    padding: 3rem 4rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include respon(phone-pot) {
      padding: 4rem 2.5rem;
    }
    @include respon(phone-land) {
      padding: 4rem 2.5rem;
    }

    .description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      @include respon(phone-pot) {
        align-items: center;
        text-align: center;
        margin-bottom: 2.5rem;
      }
      @include respon(phone-land) {
        align-items: center;
        text-align: center;
        margin-bottom: 2.5rem;
      }
      @include respon(tb-pot) {
        align-items: center;
        text-align: center;
        margin-bottom: 2.5rem;
      }
    }

    .details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include respon(phone-pot) {
        flex-direction: column;
      }
      @include respon(phone-land) {
        flex-direction: column;
      }
      @include respon(tb-pot) {
        flex-direction: column;
      }

      .hology {
        display: flex;
        align-items: center;
        .logo-hology {
          width: 3rem;
          object-fit: contain;
          margin-right: 1rem;
        }
      }

      .date {
        .icon-date {
          color: white;
          width: 2rem;
          height: 2rem;
          margin-right: 1.5rem;
        }
        .margin-bottom {
          margin-bottom: 1rem;
        }

        .detail {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }

    .circle {
      position: absolute;
      width: 3rem;
      height: 3rem;
      background-color: $backgroundBase1;
      border-radius: 99999px;
    }

    .left {
      top: calc(50% - 1.5rem);
      left: -1.5rem;

      @include respon(phone-pot) {
        left: calc(50% - 1.5rem);
        top: -1.5rem;
      }
      @include respon(phone-land) {
        left: calc(50% - 1.5rem);
        top: -1.5rem;
      }
      @include respon(tb-pot) {
        left: calc(50% - 1.5rem);
        top: -1.5rem;
      }
    }

    .right {
      bottom: calc(50% - 1.5rem);
      right: -1.5rem;
      @include respon(phone-pot) {
        right: calc(50% - 1.5rem);
        bottom: -1.5rem;
      }
      @include respon(phone-land) {
        left: calc(50% - 1.5rem);
        bottom: -1.5rem;
      }
      @include respon(tb-pot) {
        right: calc(50% - 1.5rem);
        bottom: -1.5rem;
      }
    }
  }
}

.dashboard-section-competition-selection {
  width: 100%;
  padding: 5% 0;
  background-color: $backgroundBase1;
  border: 4px solid $terneryColor;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  .select-container {
    width: 300px;
    margin-bottom: 2rem;
    text-align: left;

    .label {
      display: block;
      color: white;
      font-weight: $medium;
      margin-bottom: 0.75rem;
      font-size: 1.2rem;
    }
  }

  .academy {
    text-align: center;

    .header {
      margin-bottom: 1rem;
    }
    .description {
      max-width: 300px;
      margin: auto;
    }

    .selection {
      margin: 2.5rem 0 1.75rem;
      font-size: 1.2rem;

      .label {
        display: block;
        color: white;
        font-weight: $medium;
        margin-bottom: 0.75rem;
        font-size: 1.2rem;
        text-align: left;
      }
    }
    .input-option {
      text-align: left;
    }
  }
}

.dashboard-section-competition-data {
  width: 100%;
  min-height: 350px;
  padding: 5% 5%;
  background-color: $backgroundBase1;
  border: 4px solid $terneryColor;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;

  .team-member {
    margin: 2.5rem 0;
    .header {
      margin-bottom: 0.75rem;
    }
  }
  .view {
    width: 100%;
  }
  .link-team-container {
    width: 100%;
    margin: 2rem 0 2rem;
    color: white;
    display: flex;
    flex-direction: column;

    .link-container {
      margin-top: 1.25rem;
      background-color: $terneryColor;
      padding: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--link {
        font-size: 1rem;
        word-break: break-all;
        max-width: 90%;
        padding: 10px;
      }

      .icon-container {
        padding: 0.75rem;
        border-radius: 999px;
        vertical-align: top;
        line-height: 12px;
        &:hover {
          background-color: $primaryColor;
        }
      }

      .copy-icon {
        width: 25px;
        height: 25px;
      }
    }
  }

  .data-container {
    .kartu-mahasiswa-container {
      margin-bottom: 2rem;
      .subtitle {
        margin-bottom: 1.25rem;
      }
    }
    .surat-keterangan-container {
      margin-bottom: 2rem;
      .subtitle {
        margin-bottom: 1.25rem;
      }
    }
    .bukti-bayar-container {
      margin-bottom: 2rem;
      .subtitle {
        margin-bottom: 1.25rem;
      }
    }
    .filepond--wrapper {
      width: 90%;
      max-width: 400px;
    }
  }
}

#iframeSoal {
  width: 100%;
  height: 750px;
  max-height: 90vh;
}
