@import "../../base.scss";

.form-register-container {
  background: $backgroundLinear;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8% 0 0;
  margin-bottom: 5rem;
  .title {
    margin-bottom: 2rem;
  }
  .login-text {
    text-align: center;

    .link-login {
      color: $primaryColor;
      font-weight: $regular;
    }
  }
  .select-container {
    width: 300px;
  }
}
