@import "../../base.scss";

.footer {
  height: calc(100vh - 75px);
  min-height: 500px;
  padding: 10% 10%;
  border-top: 5px solid #000;
  background-image: $backgroundFooterLinear;
  @include respon(phone-pot) {
    padding: 10% 10%;
  }

  .flexbox {
    display: flex;
    justify-content: space-between;
    @include respon(phone-pot) {
      flex-direction: column;
    }
    @include respon(phone-land) {
      flex-direction: column;
    }
    @include respon(tb-pot) {
      flex-direction: column;
    }
    .description {
      width: 50%;
      @include respon(phone-pot) {
        width: 100%;
        margin-bottom: 2rem;
      }
      @include respon(phone-land) {
        width: 100%;
        margin-bottom: 2rem;
      }
      @include respon(tb-pot) {
        width: 100%;
        margin-bottom: 2rem;
      }

      .logo {
        object-fit: contain;
        height: 40px;
      }

      .location {
        margin-top: 2rem;
        margin-bottom: 1.25rem;
      }

      .email {
        display: flex;
        align-items: center;

        .icon-email {
          color: white;
          width: 35px;
          margin-right: 1rem;
        }
      }
    }

    .social-media {
      width: 30%;
      @include respon(phone-pot) {
        width: 100%;
      }
      @include respon(phone-land) {
        width: 100%;
      }
      @include respon(tb-pot) {
        width: 100%;
      }

      .icons-container {
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        @include respon(phone-pot) {
          align-items: flex-start;
        }
        @include respon(phone-land) {
          align-items: flex-start;
        }

        .media {
          display: flex;
          align-items: center;
          cursor: pointer;
          margin-bottom: 10px;
          text-transform: uppercase;
          font-weight: bold;

          a {
            text-decoration: none!important;
          }

          .icon-email {
            color: white;
            height: 27px !important;
          }

          @include respon(phone-pot) {
            margin-bottom: 0.75rem;
            &:last-child {
              margin-bottom: 0;
            }
          }
          @include respon(phone-land) {
            margin-bottom: 0.75rem;
            &:last-child {
              margin-bottom: 0;
            }
          }

          &:hover {
            .icon {
              transform: rotate(360deg);
            }
            a {
              color: $terneryColor;
            }
          }

          .icon {
            color: white;
            width: 35px;
            height: 35px;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
          }

          a {
            color: white;
            margin-left: 0.75rem;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
  }

  .copyright {
    margin-top: 2rem;
    //text-align: center;
  }
}
