@import "../../base.scss";

@mixin heightMinusNavbar {
  min-height: 500px;
  height: calc(100vh - 70px);
}

.section-home-full-1 {
  min-height: 500px;
  height: 100vh;
  padding: 4% 10% 0;
  position: relative;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background-image: $backgroundLinear;
  display: flex;
  justify-content: space-between;
  .line {
    margin-left: 5px;
    margin-top: -10px;
    width: calc(100% - 20px);
  }
  @include respon(phone-pot) {
    padding: 40% 10% 0;
    flex-direction: column;
  }
  @include respon(phone-land) {
    padding: 30% 10% 0;
    flex-direction: column;
  }
  @include respon(tb-pot) {
    padding: 25% 10% 0;
    flex-direction: column;
  }

  .text {
    width: 75%;
    @include respon(phone-pot) {
      width: 100%;
    }
    @include respon(phone-land) {
      width: 100%;
    }
    @include respon(tb-pot) {
      width: 100%;
    }
    .title {
      position: relative;
      z-index: 2;
      display: inline-block;
      margin-bottom: 1rem;
      margin-left: -5px;
    }

    .description {
      position: relative;
      z-index: 2;
      margin-top: 10px;
      width: 80%;
      @include respon(phone-pot) {
        width: 100%;
      }
      @include respon(phone-land) {
        width: 100%;
      }
      @include respon(tb-pot) {
        width: 100%;
      }
    }
  }

  .logo-container {
    width: max-content;
    text-align: center;
    @include respon(phone-pot) {
      display: none;
    }
    @include respon(phone-land) {
      display: none;
    }
    @include respon(tb-pot) {
      display: none;
    }

    .logo {
      object-fit: contain;
      width: 300px;
      filter: drop-shadow(10px 4px 20px rgba(32, 32, 32, 0.5));
      animation-name: floating;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
  }

  .square-box-1 {
    background-image: $circleLinear1;
    width: 482px;
    height: 482px;
    top: -50px;
    right: -240px;
    position: absolute;
    transform: rotate(45deg);
    border-radius: 45px;
    opacity: 0.352;
    @include respon(phone-pot) {
      opacity: 0.15;
      width: 382px;
      height: 382px;
      top: -25px;
      right: -140px;
    }
  }
  .square-box-2 {
    background-image: $circleLinear2;
    width: 435px;
    height: 435px;
    bottom: 20px;
    right: -200px;
    position: absolute;
    transform: rotate(45deg);
    border-radius: 45px;
    opacity: 0.302;
    @include respon(phone-pot) {
      opacity: 0.15;
      width: 322px;
      height: 322px;
      bottom: 10px;
      right: -100px;
    }
  }
}

.section-home-full-2 {
  @include heightMinusNavbar;
  position: relative;
  overflow: hidden;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: $backgroundLinear2;

  .title {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin-bottom: 2rem;
  }

  .description {
    position: relative;
    z-index: 2;
    width: 60%;
    @include respon(phone-pot) {
      width: 100%;
    }
    @include respon(phone-land) {
      width: 100%;
    }
    @include respon(tb-pot) {
      width: 100%;
    }
  }

  .square-box-1 {
    background-image: $circleLinear1;
    width: 382px;
    height: 382px;
    bottom: -191px;
    left: -50px;
    position: absolute;
    transform: rotate(45deg);
    border-top-left-radius: 45px;
    opacity: 0.352;
    @include respon(phone-pot) {
      opacity: 0.25;
    }
  }
  .square-box-2 {
    background-image: $circleLinear2;
    width: 235px;
    height: 235px;
    bottom: -116px;
    left: 250px;
    position: absolute;
    transform: rotate(45deg);
    border-top-left-radius: 45px;
    opacity: 0.302;
    @include respon(phone-pot) {
      opacity: 0.25;
    }
  }
}

.section-home-full-3 {
  @include heightMinusNavbar;
  position: relative;
  padding: 10% 10% 0;
  background: $backgroundBase2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @include respon(phone-pot) {
    padding: 20% 10%;
    flex-direction: column-reverse;
  }
  @include respon(phone-land) {
    padding: 20% 10%;
    flex-direction: column-reverse;
  }
  @include respon(tb-pot) {
    padding: 20% 10%;
    flex-direction: column-reverse;
  }

  .mascot-container {
    width: 250px;
    height: 350px;
    background-color: white;
    opacity: 0.24;
  }
  .text {
    width: 55%;
    @include respon(phone-pot) {
      width: 100%;
      margin-bottom: 2rem;
    }
    @include respon(phone-land) {
      width: 100%;
      margin-bottom: 2rem;
    }
    @include respon(tb-pot) {
      width: 100%;
      margin-bottom: 2rem;
    }
    .title {
      display: inline-block;
      margin-bottom: 1rem;
    }
  }
}

.section-home-full-4 {
  width: 100%;
  padding: 0 10%;
  position: relative;
  background: $backgroundBase1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  .title {
    z-index: 2;
    display: inline-block;
    margin-bottom: 1rem;
    align-self: flex-start;
  }

  .description {
    z-index: 2;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    @include respon(phone-pot) {
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 3rem;
    }
    @include respon(phone-land) {
      flex-direction: column;
      margin-bottom: 3rem;
    }
    @include respon(tb-pot) {
      flex-direction: column;
      margin-bottom: 3rem;
    }

    .text {
      width: 60%;
      margin-bottom: 2rem;
      @include respon(phone-pot) {
        width: 100%;
        margin-bottom: 2rem;
      }
      @include respon(phone-land) {
        width: 100%;
        margin-bottom: 2rem;
      }
      @include respon(tb-pot) {
        width: 100%;
        margin-bottom: 2rem;
      }
      .sub-header {
        margin-top: 1rem;
        width: 100%;
      }
    }
    .image-container {
      width: 30%;
      animation-name: floating;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      @include respon(phone-pot) {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
      }
      @include respon(phone-land) {
        width: 100%;
        margin-bottom: 3rem;
      }
      @include respon(tb-pot) {
        width: 100%;
        margin-bottom: 3rem;
      }
    }
  }

  .button-container {
    position: relative;
    margin-top: 30px;
    z-index: 2;
    @include respon(phone-pot) {
      text-align: center;
      margin-bottom: 5rem;
    }
    @include respon(phone-land) {
      text-align: left;
      margin-bottom: 5rem;
    }
    @include respon(tb-pot) {
      text-align: left;
      margin-bottom: 5rem;
    }
  }

  .square-box-1 {
    background-image: $circleBigLinear;
    opacity: 0.2;
    left: -80px;
    top: -60px;
    width: 500px;
    height: 500px;
    border-radius: 45px;
    position: absolute;
    transform: rotate(45deg);
  }
  .square-box-2 {
    background-image: $circleLinear1;
    opacity: 0.05;
    left: 150px;
    top: -25px;
    width: 550px;
    height: 550px;
    border-radius: 45px;
    position: absolute;
    transform: rotate(45deg);
  }
}

.section-home-full-5 {
  // @include heightMinusNavbar;
  padding: 5% 10% 2%;
  overflow: hidden;
  position: relative;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: $backgroundLinear;
  .title {
    margin-bottom: 2rem;
    text-align: center;
    position: relative;
    z-index: 2;
  }

  .tagline {
    margin-bottom: 3rem;
  }

  .webinar-image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
    @include respon(phone-pot) {
      flex-direction: column;
    }
    @include respon(phone-land) {
      flex-direction: column;
    }

    .image-webinar {
      object-fit: contain;
      width: 30%;
      margin-bottom: 2rem;
      @include respon(phone-pot) {
        width: 100%;
        height: 200px;
      }
      @include respon(phone-land) {
        width: 100%;
        height: 300px;
      }
    }
  }

  .description {
    text-align: center;
    position: relative;
    z-index: 2;
    .header {
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }

    .speaker-container {
      display: flex;
      justify-content: space-between;
      @include respon(phone-pot) {
        flex-direction: column;
      }
      @include respon(phone-land) {
        flex-direction: column;
      }

      .image-container {
        width: 30%;
        background-color: white;
        position: relative;
        z-index: 2;
        opacity: 0.24;
        min-height: 450px;
        @include respon(phone-pot) {
          width: 100%;
          margin-bottom: 1.5rem;
          align-self: center;
        }
        @include respon(phone-land) {
          width: 80%;
          margin-bottom: 1.5rem;
          align-self: center;
        }
      }
    }
  }

  .square-box-1 {
    background-image: $circleLinear2;
    width: 435px;
    height: 435px;
    bottom: -116px;
    left: -250px;
    position: absolute;
    transform: rotate(45deg);
    border-radius: 45px;
    opacity: 0.302;
    @include respon(phone-pot) {
      opacity: 0.25;
    }
  }
  .square-box-2 {
    background-image: $circleLinear1;
    width: 435px;
    height: 435px;
    top: -116px;
    right: -250px;
    position: absolute;
    transform: rotate(45deg);
    border-radius: 45px;
    opacity: 0.302;
    @include respon(phone-pot) {
      opacity: 0.25;
    }
  }
}

.section-home-full-6 {
  // @include heightMinusNavbar;
  padding: 0 10% 0;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $backgroundBase1;

  .title {
    display: inline-block;
    margin-bottom: 1rem;
    position: relative;
    z-index: 2;
    @include respon(phone-pot) {
      margin-left: 0;
    }
    @include respon(phone-land) {
      margin-left: 0;
    }
    @include respon(tb-pot) {
      margin-left: 0;
    }
  }

  .description {
    text-align: center;
  }

  .tagline {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
  }

  .square-box-1 {
    background-image: $circleLinear1;
    width: 382px;
    height: 382px;
    bottom: -191px;
    right: -50px;
    position: absolute;
    transform: rotate(45deg);
    border-top-left-radius: 45px;
    opacity: 0.302;
    @include respon(phone-pot) {
      opacity: 0.25;
    }
  }
  .square-box-2 {
    background-image: $circleLinear2;
    width: 235px;
    height: 235px;
    bottom: -116px;
    right: 250px;
    position: absolute;
    transform: rotate(45deg);
    border-top-left-radius: 45px;
    opacity: 0.302;
    @include respon(phone-pot) {
      opacity: 0.25;
    }
  }
}

.section-home-full-7 {
  // @include heightMinusNavbar;
  padding: 10% 10%;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: $backgroundBase1;

  .title {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin-bottom: 1rem;
  }

  .data {
    margin-top: 1.75rem;

    .container {
      margin-bottom: 1.25rem;
      .description {
        margin-top: 0.55rem;
      }
    }
  }

  .square-box-1 {
    background-image: $circleBigLinear;
    opacity: 0.059;
    left: -80px;
    top: -60px;
    width: 500px;
    height: 500px;
    border-radius: 45px;
    position: absolute;
    transform: rotate(45deg);
  }
  .square-box-2 {
    background-image: $circleBigLinear;
    opacity: 0.059;
    left: 150px;
    top: -25px;
    width: 550px;
    height: 550px;
    border-radius: 45px;
    position: absolute;
    transform: rotate(45deg);
  }
}

.section-home-full-8 {
  padding: 10% 10%;
  display: flex;
  background-image: $backgroundLinear;
  justify-content: space-between;
  align-items: center;
  @include respon(phone-pot) {
    padding: 25% 10% 0;
    flex-direction: column;
    align-items: flex-start;
  }
  @include respon(phone-land) {
    padding: 20% 10% 0;
    flex-direction: column;
    align-items: flex-start;
  }
  @include respon(tb-pot) {
    padding: 15% 10% 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .text {
    display: inline-block;
    @include respon(phone-pot) {
      width: 100%;
    }
    @include respon(phone-land) {
      width: 100%;
    }
    @include respon(tb-pot) {
      width: 100%;
    }
    width: 45%;
    .title {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  .gallery-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    @include respon(phone-pot) {
      width: 100%;
      margin-bottom: 3rem;
      margin-top: 2rem;
    }
    @include respon(phone-land) {
      width: 100%;
      margin-bottom: 3rem;
      margin-top: 2rem;
    }
    @include respon(tb-pot) {
      width: 100%;
      margin-bottom: 3rem;
      margin-top: 2rem;
    }

    .gallery-image-1 {
      width: 100%;
      height: 200px;
      background-color: white;
      opacity: 0.24;
      margin-bottom: 0.5rem;
    }

    .gallery-image-2 {
      width: 49%;
      height: 200px;
      background-color: white;
      opacity: 0.24;
    }
  }
}
