$primaryColor: #3d57f4;
$secondaryColor: #bc2280;
$backgroundBase1: #090a21;
$backgroundBase2: #0f1029;
$backgroundLinear: linear-gradient(140deg, #030207 0%, #111339 100%);
$backgroundFooterLinear: linear-gradient(0deg, #1c143b 0%, #111339 100%);
$circleLinear1: linear-gradient(140deg, #290a59 0%, #3d57f4 100%);
$circleLinear2: linear-gradient(140deg, #3c0f73 0%, #bc2280 100%);
$circleBigLinear: linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);

$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

$header-xl: 4.5rem;
$header-l: 4rem;
$header-r: 2.25rem;
$header-s: 1.25rem;
$paragraph-header: 1.5rem;
$paragraph-large: 2rem;
$paragraph: 1.15rem;

@mixin respon($breakpoint) {
  @if $breakpoint == phone-pot {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }

  @if $breakpoint == phone-land {
    @media (min-width: 481px) and (max-width: 767px) {
      @content;
    }
  }

  @if $breakpoint == tb-pot {
    @media (min-width: 768px) and (max-width: 1024px) {
      @content;
    }
  }
}
