// DEFAULT THEMING
// $primaryColor: #3d57f4;
// $secondaryColor: #bc2280;
// $backgroundBase1: #090a21;
// $backgroundBase2: #0f1029;
// $backgroundLinear: linear-gradient(140deg, #030207 0%, #111339 100%);
// $backgroundFooterLinear: linear-gradient(0deg, #1c143b 0%, #111339 100%);
// $circleLinear1: linear-gradient(140deg, #290a59 0%, #3d57f4 100%);
// $circleLinear2: linear-gradient(140deg, #3c0f73 0%, #bc2280 100%);
// $circleBigLinear: linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);

//LOGO THEMING
$primaryColor: #1f81a0;
$secondaryColor: #1e474c;
$terneryColor: #57beea;
$backgroundBase1: #041a25;
$backgroundBase2: #022131;
$backgroundLinear: linear-gradient(140deg, #011826 0%, #01101a 100%);
$backgroundFooterLinear: linear-gradient(90deg, #022030 0%, #0f2f32 100%);
$circleLinear1: linear-gradient(140deg, #f1c5c5 0%, #fab7b7 100%);
$circleLinear2: linear-gradient(140deg, #78ebfb 0%, #1aa9b4 100%);
$circleBigLinear: linear-gradient(-90deg, #ffffff 0%, #1d8fa9 100%);

$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

$header-xl: 6rem;
$header-l: 4rem;
$header-r: 2.5rem;
$header-s: 1.5rem;
$header-xs: 1rem;
$paragraph-header: 1.5rem;
$paragraph-large: 2rem;
$paragraph: 1.3rem;

@mixin respon($breakpoint) {
  @if $breakpoint == phone-pot {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }

  @if $breakpoint == phone-land {
    @media (min-width: 481px) and (max-width: 767px) {
      @content;
    }
  }

  @if $breakpoint == tb-pot {
    @media (min-width: 768px) and (max-width: 1024px) {
      @content;
    }
  }
}
