@import "../../base.scss";

.login-container-full {
  padding: 0 0 0;
  min-height: 100vh;
<<<<<<< HEAD
  background: $backgroundLinear;
=======
  background-image: $backgroundLinear;

  .flexbox-login {
    display: flex;
    height: 100vh;

    .logo-container {
      width: 55%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $backgroundBase2;
      flex-direction: column;
      @include respon(phone-pot) {
        display: none;
      }
      @include respon(phone-land) {
        display: none;
      }
      @include respon(tb-pot) {
        display: none;
      }

      img {
        object-fit: contain;
        height: 350px;
      }
    }
  }
>>>>>>> 10781fee2ac8c3cb72e88b627d7d94ac8bd7515c

  .form-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    width: 45%;
    @include respon(phone-pot) {
      width: 100%;
    }
    @include respon(phone-land) {
      width: 100%;
    }
    @include respon(tb-pot) {
      width: 100%;
    }
    .title {
      margin-bottom: 2rem;
    }
  }

  .register-text {
    text-align: center;
    margin-top: 2rem;

    .link-register {
      color: $primaryColor;
      font-weight: $regular;
    }
  }
}
