@import "../../base.scss";

.section-competition-category-full-1 {
  min-height: 100vh;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  flex-direction: column;
  background-image: $backgroundLinear;
  position: relative;
  @include respon(phone-pot) {
    padding: 40% 10% 0;
  }
  @include respon(phone-land) {
    padding: 30% 10% 0;
  }
  @include respon(tb-pot) {
    padding: 20% 10% 0;
  }
  .title {
    display: inline-block;
    margin-bottom: 2.5rem;
    position: relative;
    z-index: 2;
  }

  .description {
    width: 60%;
    margin-bottom: 2.5rem;
    position: relative;
    z-index: 2;
    @include respon(phone-pot) {
      width: 100%;
    }
    @include respon(phone-land) {
      width: 100%;
    }
    @include respon(tb-pot) {
      width: 80%;
    }
  }

  .tagline {
    margin-bottom: 1.75rem;
    position: relative;
    z-index: 2;
  }

  .buttons-container {
    display: flex;
    flex-direction: flex-start;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    width: 480px;
    @include respon(phone-pot) {
      flex-direction: column;
      justify-content: space-between;
      height: 150px;
      width: 100%;
      margin-bottom: 3rem;
    }
    @include respon(phone-land) {
      flex-direction: column;
      height: 150px;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 3rem;
    }
  }
  .square-box-1 {
    background-image: $circleLinear1;
    width: 482px;
    height: 482px;
    bottom: -241px;
    right: -50px;
    position: absolute;
    transform: rotate(45deg);
    border-radius: 45px;
    opacity: 0.302;
    @include respon(phone-pot) {
      opacity: 0.25;
    }
  }
  .square-box-2 {
    background-image: $circleLinear2;
    width: 335px;
    height: 335px;
    bottom: -176px;
    right: 300px;
    position: absolute;
    transform: rotate(45deg);
    border-radius: 45px;
    opacity: 0.302;
    @include respon(phone-pot) {
      opacity: 0.25;
    }
  }
}

.section-competition-category-full-2 {
  min-height: 100vh;
  padding: 5% 10% 0;
  overflow: hidden;
  background-color: $backgroundBase1;
  position: relative;
  @include respon(phone-pot) {
    padding: 15% 10% 0;
  }
  @include respon(phone-land) {
    padding: 15% 10% 0;
  }
  @include respon(tb-pot) {
    padding: 10% 10% 0;
  }
  .title {
    margin-bottom: 2rem;
    text-align: center;
    position: relative;
    z-index: 2;
  }

  .tagline {
    margin-bottom: 1.75rem;
    text-align: center;
    position: relative;
    z-index: 2;
  }

  .buttons-container {
    display: flex;
    flex-direction: flex-start;
    justify-content: space-between;
    width: 480px;
    position: relative;
    z-index: 2;
    @include respon(phone-pot) {
      flex-direction: column;
      justify-content: space-between;
      height: 150px;
      width: 100%;
      margin-bottom: 2rem;
    }
    @include respon(phone-land) {
      flex-direction: column;
      height: 150px;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  .timeline-container {
    position: relative;
    z-index: 2;

    h3 {
      line-height: 20px;
    }
    .container {
      width: 100%;
      padding: 50px 0;
      margin: 50px auto;
      position: relative;
      overflow: hidden;
    }

    .container:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -1px;
      width: 2px;
      height: 100%;
      background: white;
      z-index: 1;
    }

    .timeline-block {
      width: -webkit-calc(50% + 8px);
      width: -moz-calc(50% + 8px);
      width: calc(50% + 8px);
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      justify-content: space-between;
      clear: both;
    }

    .timeline-block-right {
      float: right;
    }

    .timeline-block-left {
      float: left;
      direction: rtl;
    }

    .marker {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 2px solid $terneryColor;
      background: $terneryColor;
      margin-top: 10px;
      z-index: 9999;
    }

    .timeline-content {
      width: 95%;
      padding: 0 15px;
    }

    .timeline-content h3 {
      margin-top: 5px;
      margin-bottom: 1rem;
      font-size: 25px;
      font-weight: $bold;
      color: $terneryColor;
    }

    .timeline-content span {
      font-size: 15px;
      color: white;
      font-weight: $medium;
    }

    .timeline-content p {
      font-size: 14px;
      line-height: 1.5em;
      word-spacing: 1px;
      margin-top: 0.75rem;
      font-weight: $light;
      color: white;
    }

    @media screen and (max-width: 768px) {
      .container:before {
        left: 8px;
        width: 2px;
      }
      .timeline-block {
        width: 100%;
        margin-bottom: 30px;
      }
      .timeline-block-right {
        float: none;
      }

      .timeline-block-left {
        float: none;
        direction: ltr;
      }
    }
  }

  .square-box-1 {
    background-image: $circleLinear2;
    width: 435px;
    height: 435px;
    bottom: -116px;
    right: -250px;
    position: absolute;
    transform: rotate(45deg);
    border-radius: 45px;
    opacity: 0.302;
    @include respon(phone-pot) {
      opacity: 0.25;
    }
  }
  .square-box-2 {
    background-image: $circleLinear1;
    width: 435px;
    height: 435px;
    top: -96px;
    left: -250px;
    position: absolute;
    transform: rotate(45deg);
    border-radius: 45px;
    opacity: 0.302;
    @include respon(phone-pot) {
      opacity: 0.25;
    }
  }
}
